{% load static %}



<div class="card mb-3 text-bg-light shadow-lg">
    {% for cart in carts %}
    
    <div class="card-header">
        <h5 class="card-title">{{ cart.product.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row text-center">
                <div class="col p-0">
                    <div class="input-group align-items-center">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-dark btn-sm decrement navbarbg pb-1 pt-0 px-1"
                                data-cart-id="" data-cart-change-url="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                </svg>
                            </button>
                        </span>
                        <input type="text" class="form-control number py-1" value="{{ cart.quantity }}"
                            readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-dark btn-sm increment navbarbg pb-1 pt-0 px-1"
                                data-cart-id="" data-cart-change-url="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                </svg>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col p-0">
                    <p>x {{ cart.product.price }} = </p>
                </div>
                <div class="col p-0"><strong>{{ cart.products_price }} руб</strong></div>
                <div class="col p-0">
                    <a href="{% url "cart:cart_remove" %}" class="remove-from-cart" 
                    data-cart-id="{{ cart.id }}">
                        {% csrf_token %}
                        <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                            alt="Catalog Icon" width="16" height="16">
                    </a>
                </div>
            </div>
        </li>
    </ul>
    
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">Итого <strong>{{carts.total_quantity}}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{carts.total_price}} руб</strong></h4>
    </div>
</div>