{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}




{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-1">
            <!-- Пустой блок на усмотрение -->
        </div>
        <div class="col-lg-11">
            <!-- Контент на странице -->
            <div class="row">
                <!-- Форма фильтров -->
                <div class="dropdown mb-2 pt-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark navbarbg fw-bolder fs-5 main-p pt-1 pb-2" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Фильтры
                    </button>
            
                    <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu navbarbg" data-bs-theme="dark">
                        <div class="form-check text-white mx3">
                            {% if request.GET.q %}
                                <input type="hidden" name="q" value="{{ request.GET.q }}">
                            {% endif %}
                        </div>
                        <p class="text-white mx-3 fw-bolder fs-5 main-p">Сортировать:</p>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" 
                            {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                По умолчанию
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" 
                            {% if request.GET.order_by == 'price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                От дешевых к дорогим
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" 
                            {% if request.GET.order_by == '-price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault3">
                                От дорогих к дешевым
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                    </form>
                </div>

                {% if request.GET.q %}
                    <h3 class="mt-4 main-p">Результаты поиска по запросу "{{ request.GET.q }}"</h3> 
                {% if not goods %}
                    <h3 class="mt-4 main-p">По запросу ничего не найдено</h3> 
                {% endif %}
                {% endif %}
                {% for product in goods %}
                <!-- Карта товара -->
                <div class="col-lg-3 col-md-6 p-4">
                    <div class="card border-primary rounded custom-shadow">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                        <img src="{% static "deps/images/image-not-found.jpg" %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body pt-1">
                            <a class="ssilka fw-bolder" href="{% url "catalog:product" product.slug %}">
                                <p class="card-title">{{ product.name }}</p>
                            </a>
                            <p class="card-text text-truncate">{{ product.description }}</p>
                            <p class="product_id">id: {{ product.display_id }}</p>
                            <div class="d-flex justify-content-between">
                                <p><strong>{{ product.price }} руб</strong></p>
                                <a href="{% url "cart:cart_add" %}" class="btn add-to-cart"
                                data-product-id="{{ product.id }}">
                                    {% csrf_token %}
                                    <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                        width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            <!-- Пагинация -->
            {% if goods %}
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-4">
                    <div class="custom-shadow d-flex">

                        <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                          <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                        </li>

                        {% for page in goods.paginator.page_range %}
                            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                            <li class="page-item {% if goods.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}


                        <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                          <a class="page-link " href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}#{% endif %}">Вперед</a>
                        </li>
                    </div>
                </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>
        
{% endblock content %}

