{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbarbg logimg submenu">
            <div class="container">
                <a class="navbar-brand" href="{% url "main:index" %}">
                    <img class="mx-1 logimg" src="{% static "deps/images/logo-kzvs.png" %}" alt="KZVS icon" width="120"></a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fw-bolder fs-5 main-p" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Каталог
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark navbarbg">
                                {% tag_categories as categories %}
                                {% for category in categories %}
                                <li><a class="dropdown-item text-white fw-bolder fs-5 main-p" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bolder fs-5 main-p" href="{% url "main:about" %}">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bolder fs-5 main-p" href="{% url "users:users_cart" %}">Корзина</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bolder fs-5 main-p" href="{% url "users:login" %}">Войти</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fw-bolder fs-5 main-p" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Мой профиль
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark navbarbg">
                                <li><a class="dropdown-item text-white fw-bolder fs-5 main-p" href="{% url "users:users_cart" %}">Корзина</a></li>
                                <li><a class="dropdown-item text-white fw-bolder fs-5 main-p" href="{% url "users:profile" %}">Личный кабинет</a>
                                </li>
                                {% if user.is_admin or user.is_staff %}
                                    <li><a class="dropdown-item text-white fw-bolder fs-5 main-p" href="{% url "admin:index" %}">Админ панель</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                
                                <li><a class="dropdown-item text-white fw-bolder fs-5 main-p" href="{% url "users:logout" %}">Выйти</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% url "catalog:search" %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success text-white fw-bolder fs-5 main-p pt-1 pb-2" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section>
        
        <div class="katalog container">
            <!-- Каталог и корзина с фиксированным расположением на странице -->
            <div class="row mt-2 position-fixed z-3">
                <!-- Каталог -->

                <!-- Значек корзины, вызывает модальное окно -->
                {% block modal_cart %}
                
                {% endblock %}
                <!-- Закончилась разметка модального окна -->
            </div>
        </div>
        <!-- Контент -->
            {% include "includes/notifications.html" %}
            {% block content %}
            
            {% endblock content %}
    </section>
        <footer class="myfooter d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto mx-5 fw-bolder fs-6 main-p" >
            <p class="col-md-4 mb-0 text-white">&copy; 2024 «КРАСНОДАРЗООВЕТСНАБ»</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{% url "main:index" %}" class="nav-link px-2 text-white ">Главная</a></li>
            <li class="nav-item"><a href="{% url "catalog:index" 'all' %}" class="nav-link px-2 text-white ">Все товары</a></li>
            <li class="nav-item"><a href="{% url "main:about" %}" class="nav-link px-2 text-white ">О нас</a></li>
            <li class="nav-item"><a href="feedback.html" class="nav-link px-2 text-white">Отзывы</a></li>
          </ul>
        </footer>
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    {% block scriptcopy %}
    
    {% endblock scriptcopy %}
    
</body>

</html>