{% extends "main/base.html" %}

{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
        <div class="container foncon">
            <div class="row mt-1 nomarg">

                <div class="col-lg-12 pb-3">
                    <!-- Контент на странице -->
                    <div class=" pb-2 container">
                        <div class="container text-center aboutmain">
                            <h1><strong class="main-d">КЗВС - ЭТО</strong></h1>
                        </div>

                        <div class="divline">
                                <div class="listcon">
                                    <ul class="list-group list-group-item fs-6 listabout text-black me-3">
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Оптовые продажи.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> 7 зарегистрированных собственных торговых марок.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Ветеринарная лаборатория.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Ветеринарные аптеки под брендом КЗВС — более 175 торговых точек.</li>
                                    </ul>
                                    <b class="fs-4">Выбирая КЗВС, клиент получает:</b>
                                    <ul class="list-group list-group-item fs-6 listabout text-black me-3">
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Выгодные цены.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Гибкую систему скидок.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Индивидуальный подход.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Маркетинговое сопровождение.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Клиентскую поддержку.</li>
                                        <li class="list-group-item listind"><b class="orange">&#62;</b> Обучение.</li>
                                    </ul>
                                </div>
                            <div class="imgabout d-flex justify-content-center align-items-center">
                                <img class="imgan" src="{% static "deps/images/office.jpg" %}" alt="" width="100%">
                            </div>
                        </div>
                        <div class="divline">
                            <div class="imgabout d-flex justify-content-center align-items-center">
                                <img class="imgan" src="{% static "deps/images/office2.jpg" %}" alt="" width="100%">
                            </div>

                            <div class="listcon secondlistab">
                                <ul class="list-group list-group-item fs-6 listabout">
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Консультации по подбору ассортимента в торговые точки.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Консультации по эффективному мерчандайзингу в торговых точках.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Консультации по подбору аналогов и высокомаржинальных позиций товаров для вашего бизнеса.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Ветеринарные аптеки под брендом КЗВС — более 175 торговых точек.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Консультации по сельскохозяйственному направлению.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Регулярные акции, скидки и мотивационные программы.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Возможность воспользоваться услугами ветеринарной лаборатории.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Узнаваемость бренда.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> В качестве лучших итоговых показателей сотрудничества.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Возможность посещения корпоративных мероприятий.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Обучающих семинаров и тренингов, а также совместных поездках на российские и мировые выставки.</li>
                                    <li class="list-group-item listind"><b class="orange">&#62;</b> Возможность совместных выездов на заводы мировых производителей..</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pb-3 secondfon">

                    <div class="secondfon pb-2 container">
                        <p class="main-p fs-2 mrgmin text-center"><strong class="main-p">КЗВС В ЦИФРАХ</strong></p>

                        <ul class="twocolumn fs-4 text-white">
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">1937</b> Год основания</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">80</b> Прямых контрактов с лидирующими российскими и зарубежными производителями</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">720</b> Человек обслуживают клиентов на территории РФ</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">>1000</b> Дипломов и наград</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">>25000</b> SKU</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">24000</b> Квадратных метров площадь складских помещений, в т.ч. склады класса А+</li>
                            <li class="list-group-item listind pb-3">Более <b class="orange fs-2">175</b> Торговых точек под брендом КЗВС</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">85</b> лет в зообизнесе</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">7О</b> птовых территориальных дистрибуторов по РФ</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">330</b> человек с высшим профессиональным ветеринарным образованием</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">1</b> Ветеринарная лаборатория</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">7</b> Зарегистрированных торговых марок</li>
                            <li class="list-group-item listind pb-3"><b class="orange fs-2">100</b> Единиц собственного автотранспорта</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 pb-3">
                    <p class="main-d fs-3 mrgmin text-center"><strong class="main-d">ПРОФЕССИОНАЛИЗМ, НАДЁЖНОСТЬ И ОПЕРАТИВНОСТЬ - ПРИНЦИПЫ НАШЕЙ РАБОТЫ</strong></p>
                    <div class="container">
                        <img src="{% static "deps/images/map-2.png" %}" alt="map-of-kzvs" width="100%">
                    </div>
                    <p class="main-d fs-4 mrgmin text-center pb-3"><strong class="main-d">НАШИ КЛИЕНТЫ</strong></p>
                    <ul class="twocolumn fs-6">
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> КРУПНЫЕ АГРОПРОМЫШЛЕННЫЕ ХОЛДИНГИ, СЕЛЬСКОХОЗЯЙСТВЕННЫЕ ПРЕДПРИЯТИЯ И ЛПХ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ПТИЦЕФАБРИКИ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ИНКУБАТОРЫ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ИППОДРОМЫ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ВЕТЕРИНАРНЫЕ УПРАВЛЕНИЯ И СББЖ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ВЕТЕРИНАРНЫЕ КЛИНИКИ И АПТЕКИ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ЗООМАГАЗИНЫ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ПРИЮТЫ И ГОСТИНИЦЫ ДЛЯ ДОМАШНИХ ЖИВОТНЫХ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ЗООПАРКИ, ДЕЛЬФИНАРИИ, ЦИРКИ И ЗООКЛУБЫ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ГРУМИНГ САЛОНЫ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> ПИТОМНИКИ И ЗАВОДЧИКИ</li>
                        <li class="list-group-item listind pb-3"><b class="orange">&#62;</b> И МНОГИЕ ДРУГИЕ</li>
                    </ul>
                    <div class="container text-center divtex">
                        <h2 class="mt-2 pb-3"><strong class="fs-4">НАШ ИМПОРТ</strong></h2>
                        <div class="text-center divline">
                        <figure class="country">
                            <img src="{% static "deps/images/turkey.png" %}" class="rounded float" alt="...">
                            <strong><p class="main-d fs-4">Турция</p></strong>
                        </figure>
                        <figure class="country">
                            <img src="{% static "deps/images/india.png" %}" class="rounded float" alt="...">
                            <strong>
                                <p class="main-d fs-4">Индия</p>
                            </strong>
                        </figure>
                        <figure class="country">
                            <img src="{% static "deps/images/china.png" %}" class="rounded float" alt="...">
                            <strong>
                                <p class="main-d fs-4">Китай</p>
                            </strong>
                        </figure>
                        <figure class="country">
                            <img src="{% static "deps/images/serbia.png" %}" class="rounded float" alt="...">
                            <strong>
                                <p class="main-d fs-4">Сербия</p>
                            </strong>
                        </figure>
                        </div>
                    </div>
                    <div class="container text-center divtex widthbrends">
                        <h2 class="mt-2 pb-3"><strong class="fs-4">КЛЮЧЕВЫЕ БРЕНДЫ</strong></h2>
                        <div class="text-center divline">
                        <img src="{% static "deps/images/brends/gelovet.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/logo180-secret-for-pets.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/novyy-proekt-13.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/silitter.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/vg_brendbuk_chernyy-.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/zoochar.png" %}" alt="" width="30%">
                        <img src="{% static "deps/images/brends/8-in-1.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/agrobioprom.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/alphapet.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/ama.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/amiplay.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/ankur.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/apicenna.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/best-diner.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/bi-tech_apteka-servis.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/biopro-kompaniya-biopro.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/boehringer-ingelheim.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/buffalo.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/bvs.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/candioli.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/carefresh.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/ceva.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/charlottes-dress.png" %}" alt="" width="24%">
                        <img src="{% static "deps/images/brends/dogness-1.png" %}" alt="" width="24%">
                        </div>

                    </div>

                </div>
            </div>
        </div>
{% endblock content %}







